bin/
proj.cmake/build
proj.cmake/libs
.DS_Store
.gradle/
.idea/
build/
gen/
local.properties
*.iml
xcuserdata/
proj.ios/out/
proj.ios/output
proj.ios/Products
out/
proj.android/Products
proj.android/.externalNativeBuild
proj.mac/Products
.*.swp
*.o
*.aps
proj.android/symbol
.vscode/
.vs
demo/android/Live/app/libs/
proj.web/jsapi/dist
lib/mac/libgmock.a
lib/mac/libgmock_main.a
lib/mac/libgtest.a
lib/mac/libgtest_main.a
proj.cmake/release
lib
proj.cmake/Products
src/main/sdk_version.h
tool/doc/ansi2html.sh
tool/doc/*.html
sdk.packetizer/Products
agorareport.dat
agora*.dat
agora*.log
iOS.sh
Android.sh
MacOSX.sh
Debian.sh
Windows.sh
*.user
*.log